In [1]:
import pandas as pd

In [2]:
customer_data_path = "CUSTOMERS.csv"

In [3]:
customer_data = pd.read_csv(customer_data_path)
customer_data.head()

,RECID,SHORT_NAME,GENDER,SMS_1,EMAIL_1,SECTOR,INDUSTRY,MARITAL_STATUS,TARGET,TARGET_DESCRIPTION,DATE_OF_BIRTH,NO_OF_DEPENDENTS,ISSUE_CHEQUES,COMPANY_NAME,CUSTOMER_SINCE,NAME,SEGMENT
0,1000001,FURAHA PASCAL,MALE,250788301519,furahapascal@yahoo.fr,R&SME - Small Enterprises,Financial and insurance activities,MARRIED,64,SOLE TRADERS,1/1/1957,0.0,YES,KIGALI BRANCH,1/1/1998,BIZIMUNGU EMMANUEL,SME
1,1000002,NYAMASWA EUGENE,MALE,250786661780,nyamaswaeugene@yahoo.fr,R&SME INDIV,Accommodation and food service acti,MARRIED,73,SALARY EARNERS PRIVATE,1/1/1961,0.0,YES,KIGALI BRANCH,1/1/1998,BIZIMUNGU EMMANUEL,RETAIL
2,1000003,AYINKAMIYE FELICITE,FEMALE,250783168211,NaN,R&SME INDIV,Other service activities,MARRIED,71,PENSIONERS,1/1/1954,0.0,YES,KIGALI BRANCH,1/1/1998,BIZIMUNGU EMMANUEL,RETAIL
3,1000003,FLICIT AYINKAMIYE,FEMALE,250783168211,NaN,R&SME INDIV,Other service activities,MARRIED,71,PENSIONERS,1/1/1954,0.0,YES,KIGALI BRANCH,1/1/1998,BIZIMUNGU EMMANUEL,RETAIL
4,1000004,MUKAKIMENYI EPIPHANIE,FEMALE,250788523651,emukakimenyi@gmail.com,R&SME INDIV,Other service activities,SINGLE,73,SALARY EARNERS PRIVATE,12/25/1964,0.0,NaN,KIGALI BRANCH,1/1/1998,BIZIMUNGU EMMANUEL,RETAIL

In [4]:
customer_data.shape

(23422, 17)

In [5]:
recommend_data_path = "recommend_data.csv"

In [11]:
recommend_data = pd.read_csv(recommend_data_path)
recommend_data.head()

,Unnamed: 0,CUSTOMER_ID,DESCRIPTION,GENDER,MARITAL_STATUS,SECTOR,INDUSTRY,TARGET,ISSUE_CHEQUES,Age,Tenure,NO_OF_DEPENDENTS
0,0,1000764,AC Corporate Current Account,Others,Others,SSA - RSSB,Other service activities,Local NGO,YES,100.0,24.0,0.0
1,1,1001468,AC Corporate Current Account,Others,Others,CA -Offices,Other service activities,Large Government Institution,YES,100.0,24.0,0.0
2,2,1006782,AC Corporate Current Account,Others,Others,micro enterprise,Transportation and storage,Local - Large Corporate,YES,100.0,22.0,0.0
3,3,1011339,AC Corporate Current Account,Others,Others,R&SME - Small Enterprises,Other service activities,Local NGO,YES,100.0,16.0,0.0
4,4,1015944,AC Corporate Current Account,Others,Others,PC - Public Companies,Other service activities,Local - Large Corporate,YES,100.0,14.0,0.0

In [12]:
recommend_data.shape

(1780883, 12)

In [13]:
recommend_data

,Unnamed: 0,CUSTOMER_ID,DESCRIPTION,GENDER,MARITAL_STATUS,SECTOR,INDUSTRY,TARGET,ISSUE_CHEQUES,Age,Tenure,NO_OF_DEPENDENTS
0,0,1000764,AC Corporate Current Account,Others,Others,SSA - RSSB,Other service activities,Local NGO,YES,100.0,24.0,0.0
1,1,1001468,AC Corporate Current Account,Others,Others,CA -Offices,Other service activities,Large Government Institution,YES,100.0,24.0,0.0
2,2,1006782,AC Corporate Current Account,Others,Others,micro enterprise,Transportation and storage,Local - Large Corporate,YES,100.0,22.0,0.0
3,3,1011339,AC Corporate Current Account,Others,Others,R&SME - Small Enterprises,Other service activities,Local NGO,YES,100.0,16.0,0.0
4,4,1015944,AC Corporate Current Account,Others,Others,PC - Public Companies,Other service activities,Local - Large Corporate,YES,100.0,14.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...
1780878,1780878,1770578,Zamuka Mugore Account,FEMALE,SINGLE,R&SME INDIV,Wholesale and retail trade; repair,ZAMUKA MUGORE,YES,43.0,0.0,0.0
1780879,1780879,1771203,Zamuka Mugore Account,FEMALE,WIDOWED,R&SME INDIV,"Arts, entertainment and recreation",ZAMUKA MUGORE,YES,63.0,0.0,0.0
1780880,1780880,1772476,Zamuka Mugore Account,FEMALE,MARRIED,R&SME INDIV,Other service activities,ZAMUKA MUGORE,YES,49.0,0.0,0.0
1780881,1780881,1773943,Zamuka Mugore Account,FEMALE,SEPARATED,R&SME INDIV,Wholesale and retail trade; repair,ZAMUKA MUGORE,NO,43.0,0.0,0.0
1780882,1780882,1780320,Zamuka Mugore Account,FEMALE,SINGLE,R&SME INDIV,"Agriculture, forestry and Fishing",ZAMUKA MUGORE,YES,25.0,0.0,0.0

In [16]:
last = recommend_data.loc[recommend_data['CUSTOMER_ID']==1053110]
last

,Unnamed: 0,CUSTOMER_ID,DESCRIPTION,GENDER,MARITAL_STATUS,SECTOR,INDUSTRY,TARGET,ISSUE_CHEQUES,Age,Tenure,NO_OF_DEPENDENTS
13929,13929,1053110,BK Yacu,MALE,MARRIED,R&SME INDIV,Wholesale and retail trade; repair,SALARY EARNERS PRIVATE,YES,38.0,11.0,0.0
150489,150489,1053110,BK Yacu,MALE,MARRIED,R&SME INDIV,Wholesale and retail trade; repair,SALARY EARNERS PRIVATE,YES,38.0,11.0,0.0
319480,319480,1053110,CLASSIC CREDIT CARD,MALE,MARRIED,R&SME INDIV,Wholesale and retail trade; repair,SALARY EARNERS PRIVATE,YES,38.0,11.0,0.0
533487,533487,1053110,IB,MALE,MARRIED,R&SME INDIV,Wholesale and retail trade; repair,SALARY EARNERS PRIVATE,YES,38.0,11.0,0.0
626681,626681,1053110,IB,MALE,MARRIED,R&SME INDIV,Wholesale and retail trade; repair,SALARY EARNERS PRIVATE,YES,38.0,11.0,0.0
714707,714707,1053110,IKOFI,MALE,MARRIED,R&SME INDIV,Wholesale and retail trade; repair,SALARY EARNERS PRIVATE,YES,38.0,11.0,0.0
777918,777918,1053110,IKOFI,MALE,MARRIED,R&SME INDIV,Wholesale and retail trade; repair,SALARY EARNERS PRIVATE,YES,38.0,11.0,0.0
867982,867982,1053110,Individual Current account,MALE,MARRIED,R&SME INDIV,Wholesale and retail trade; repair,SALARY EARNERS PRIVATE,YES,38.0,11.0,0.0
1145124,1145124,1053110,Mobile App,MALE,MARRIED,R&SME INDIV,Wholesale and retail trade; repair,SALARY EARNERS PRIVATE,YES,38.0,11.0,0.0
1260054,1260054,1053110,Mobile App,MALE,MARRIED,R&SME INDIV,Wholesale and retail trade; repair,SALARY EARNERS PRIVATE,YES,38.0,11.0,0.0
1375199,1375199,1053110,Mobiserve,MALE,MARRIED,R&SME INDIV,Wholesale and retail trade; repair,SALARY EARNERS PRIVATE,YES,38.0,11.0,0.0
1504381,1504381,1053110,Mobiserve,MALE,MARRIED,R&SME INDIV,Wholesale and retail trade; repair,SALARY EARNERS PRIVATE,YES,38.0,11.0,0.0

In [ ]:
df.loc[df ['col1'] == value]